* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
}

button {
	background-color: transparent;
	border: none;
}

input {
	outline: none;
	border: none;
}

input:focus {
	outline: none;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1320px;
}





/* youtube-top-nav */
#youtube-top-nav {
	position: fixed;

	width: 100%;
	height: 56px;
	background-color: #212121;

	padding: 0 16px;

	z-index: 99999;
}





/* youtube-left-nav */
#youtube-left-nav /* 스크롤 포함 공간 */ {
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;

	width: 240px;
	background-color: #212121;

	top: 56px;
	left: 0;
	bottom: 0;
}

#youtube-left-content /* 스크롤 불포함 공간 */ {
	position: absolute;
	width: 225px;
	height: 100%;
}





/* youtube-main  */
#youtube-main {
	position: absolute;
	left: 240px;
	top: 56px;
	right: 0;
	bottom: 0;
	background-color: #212121;
}