:root {
	--black: #18181a;
	--purple: #9147ff;
	--font-size-40: 40px;
}

h1 {
	font-size: var(--font-size-40);
	color: var(--purple);
	background-color: var(--black);
}

#intro {
	--font-color: blue;
	--font-size: 50px;
}

#intro p {
	font-size: var(--font-size);
	color: var(--font-color);
}

#outro p {
	font-size: var(--font-size);
	color: var(--font-color);
}






